<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>LaunchBackground</string>
        <key>UIImageName</key>
        <string></string>
    </dict>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
    </dict>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>instagram</string>
        <string>fb</string>
        <string>twitter</string>
        <string>snssdk1128</string>
        <string>snapchat</string>
        <string>linkedin</string>
        <string>pinterest</string>
        <string>reddit</string>
        <string>barcelona</string>
        <string>bereal</string>
        <string>whatsapp</string>
        <string>telegram</string>
        <string>sgnl</string>
        <string>fb-messenger</string>
        <string>discord</string>
        <string>zoomus</string>
        <string>msteams</string>
        <string>skype</string>
        <string>youtube</string>
        <string>nflx</string>
        <string>disneyplus</string>
        <string>aiv</string>
        <string>hulu</string>
        <string>hbomax</string>
        <string>twitch</string>
        <string>spotify</string>
        <string>youtubemusic</string>
        <string>soundcloud</string>
        <string>shazam</string>
        <string>amazon</string>
        <string>ebay</string>
        <string>walmart</string>
        <string>shein</string>
        <string>temu</string>
        <string>etsy</string>
        <string>doordash</string>
        <string>ubereats</string>
        <string>starbucks</string>
        <string>uber</string>
        <string>lyft</string>
        <string>airbnb</string>
        <string>comgooglemaps</string>
        <string>waze</string>
        <string>paypal</string>
        <string>venmo</string>
        <string>cashme</string>
        <string>googlegmail</string>
        <string>ms-outlook</string>
        <string>notion</string>
        <string>slack</string>
        <string>googlechrome</string>
    </array>
</dict>
</plist>
